@import 'mixins';

html {
    body {
        .padding-0 {
            padding: 0;
        }

        .padding-top-0 {
            padding-top: 0;
        }

        .padding-bottom-0 {
            padding-bottom: 0;
        }

        .padding-left-0 {
            padding-left: 0;
        }

        .padding-right-0 {
            padding-right: 0;
        }

        .margin-0 {
            margin: 0;
        }

        .margin-top-0 {
            margin-top: 0;
        }

        .margin-bottom-0 {
            margin-bottom: 0;
        }

        .margin-left-0 {
            margin-left: 0;
        }

        .margin-right-0 {
            margin-right: 0;
        }
    }
}
