// Breakpoints
$small-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$desktop-large-width: 1200px;
$desktop-xlarge-width:1400px;

// Typo sizes
$s_html: 16px;

$s_p: 1rem;
$s_span: 1rem;

$s_h1: 4rem;  //equivalente a 64px
$s_h2: 2rem;  //equivalente a 32px
$s_h3: 1.5rem;    //equivalente a 24px
$s_h4: 1.25rem;  //equivalente a 20px
$s_h5: 1rem;  //equivalente a 16px
$s_h6: 0.875rem;    //equivalente a 14px

// Spacing sizes
$s_h1_mt: 1em;
$s_h1_mb: 1em;

$s_h2_mt: 0.75em;
$s_h2_mb: 0.75em;

$s_h3_mt: 0.585em;
$s_h3_mb: 0.585em;

$s_h4_mt: 0.5em;
$s_h4_mb: 0.5em;

// Colors
$c_blue_primary: #035299;
$c_red_primary: #7C001D;
$c_blue_secondary: #B1D3E5;

$c_yellow_primary: #FBF6C0;
$c_yellow_secondary: #F2EB72;

$c_green_primary: #93C278;
$c_green_secondary: #B3D9BE;

$c_bege: #D8D3BC;
$c_gray_darker: #333333;
$c_gray_grabois: #646464;
$c_green_grabois: #006940;
$c_gray_cdm_block: #F5F5F5;
$c_gray_cdm_block_hover: #D2D2D2;

// Paths
$p_theme: '/wp-content/plugins/hacklab-tainacan-blocks';
$p_theme_assets: $p_theme + '/assets';

// Fonts
$f_body: 'Roboto', sans-serif;
$f_title: 'Roboto', sans-serif;
$s_meta: .875rem; //equivalente 14px

// Spacings
$s_small: 20px;
$s_large: 40px;

// max width
$small-max-width: 540px;
$tablet-max-width: 720px;
$desktop-max-width: 960px;
$desktop-large-max-width: 1140px;
$desktop-xlarge-max-width: 1320px;
