.hacklab-tainacan-collection-items.on-editor {
	background-color: #333333;
	border-radius: 5px;
	color: #ffffff;
	margin-bottom: 30px;
	padding: 28px 30px 30px;

	.container {
		.column {
			> h2 {
				margin-top: 0;
			}

			> .button {
				pointer-events: none;
			}

			.components-button {
				height: auto;
			}

			// Rich text
			.block-editor-rich-text__editable {
				border: 1px solid #444444;
				border-radius: 5px;
				padding: 10px;
			}

			.terms {
				.button {
					pointer-events: none;
				}
			}

			.gallery-masonry {
				.item {
					margin-bottom: 1px;
				}
			}
		}
	}
}
