/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.hacklab-tainacan-collection-items {
	.container {
		display: flex;

		@media (max-width: 992px) {
			display: block;
		}

		> &::after,
		> &::before {
			display: none;
		}

		.column {
			flex-basis: 50%;
			flex-shrink: 1;

			@media (max-width: 992px) {
				flex-basis: 100%;
			}

			> h2 {
				font-size: var(--wp--preset--font-size--large) !important;
				font-weight: 400;
				margin-bottom: 0;
				padding-top: 0;
			}

			> p {
				font-size: var(--wp--preset--font-size--small);

				&.description {
					font-size: var(--wp--preset--font-size--default);

					@media (max-width: 992px) {
						order: 2
					}
				}
			}

			> .button {
				background-color: var(--wp--preset--color--primary-dark);
				border: 0;
				color: var(--wp--preset--color--high-pure);
				display: inline-block;
				font-weight: 700;
				margin-top: 30px;
				padding: 7px 16px;
			}

			// First column
			&:first-child {
				padding-right: 120px;

				@media (max-width: 992px) {
					display: flex;
					flex-direction: column;
					padding-right: 0;
				}

				> .button {
					@media (max-width: 992px) {
						display: none;
					}
				}
			}

			// Second column
			&:last-child {
				> .button {
					display: none;
					margin-left: auto;
					margin-right: auto;

					@media (max-width: 992px) {
						display: table;
					}
				}
			}

			// List of the terms
			.terms {
				margin-bottom: 22px;

				@media (max-width: 992px) {
					order: 3;
				}

				.button {
					background-color: transparent;
					border: 2px solid var(--wp--preset--color--primary-dark);
					color: var(--wp--preset--color--high-pure);
					display: inline-block;
					font-weight: 700;
					margin-bottom: 10px;
					margin-right: 10px;
					margin-top: 0;
					padding: 5px 16px;
					position: relative;

					&.active {
						border-color: var(--wp--preset--color--primary-light);
						color: var(--wp--preset--color--primary-light);
					}

					.submenu {
						background-color: var(--wp--preset--color--primary-light);
						border-radius: 2px;
						display: none;
						left: calc(100% + 8px);
						padding: 10px;
						position: absolute;
						top: -2px;
						width: 300px;
						z-index: 9;

						&.active {
							display: block;
						}

						ul {
							list-style: none;
							margin-bottom: 0;
							margin-top: 0;
							padding-left: 0;

							li {
								color: var(--wp--preset--color--low-pure);
								font-size: var(--wp--preset--font-size--small);
								font-weight: 400;
								text-align: left;
								margin-bottom: 7px;
								padding-left: 15px;
								padding-right: 15px;

								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}

			.status-term {
				display: flex;
				margin-bottom: 15px;

				> span {
					border: 2px solid var(--wp--preset--color--primary-light);
					font-size: var(--wp--preset--font-size--small);
					margin-right: 5px;
					padding: 4px 8px;
					display: flex;
					align-items: center;
					gap: 10px;

					span {
						&.clear {
							cursor: pointer;
						}
					}
				}
			}

			.gallery-masonry:not(.no-items) {
				column-gap: 5px;
				columns: 4;
				row-gap: 0;

				@media (max-width: 1200px) {
					columns: 3;
				}

				@media (max-width: 992px) {
					columns: 2;
				}

				.item {
					display: inline-block;
					margin-bottom: -3px;
					min-height: 80px;
					overflow: hidden;
					position: relative;

					h2.title {
						background-color: var(--wp--preset--color--primary-light);
						bottom: -100%;
						color: var(--wp--preset--color--low-pure);
						font-family: var(--f-body);
						font-size: var(--wp--preset--font-size--small) !important;
						font-weight: 400;
						left: 0;
						margin-bottom: 0;
						transition: all .2s ease-in-out;
						padding: 5px 10px;
						position: absolute;
						width: 100%;
					}

					&:hover {
						h2.title {
							bottom: 0;
						}
					}

					img {
						width: 100%;
					}
				}
			}
		}
	}
}
